body {
  background: white !important;
  color: #19191b !important;
}

.background-box {
  background: rgb(216, 216, 216) !important;
}

.secondary-color {
  background: #13ccff !important;
}

.secondary-color:hover {
  background: #00a5d3 !important;
}

.card-image {
  border-radius: 10px;
  height: 260px !important;
}

g {
  fill: white !important;
}
